body{font-family:"Source Sans Pro", "Open Sans", "Helvetica Neue", "WenQuanYi Micro Hei", "Microsoft YaHei", 微软雅黑, STHeiti, "WenQuanYi Micro Hei", SimSun, sans-serif;}
html,body {margin: 0;padding:0;height: 100%;}
#all_content {min-height:100%;height: auto !important;height: 100%;position: relative;}
#main_nav {line-height:60px;height:60px;min-height:60px;background:#00A50D; }
#main_nav ul li{list-style-type:none;height:60px; float:left;cursor:pointer;text-align:center;}
#main_nav ul li:hover{background:#167D12;}
#main_nav ul li a{box-sizing:content-box;display:inline-block;width:100px;line-height:60px;font-size:18px;color:white;text-decoration:none;}
.logo_div{float:left;height:60px;min-height:60px;width:195px;}
.logo_div a{font-size:22px;color:white;text-decoration:none;}
.menu_sel{background:#167D12;}
.menu_bg{background:#00A50D;position:fixed;top:0;left:0;z-index:10000;box-sizing:content-box;width:100%;height:60px;}
.menu_width{width:100px;}
.bread{color:#8899a6;}
.bread a{text-decoration:none;color:#8899a6;}
.bread a:hover{cursor:pointer;text-decoration:none;color:#00A50D;}
.clear_row_margin{margin-left:0px;margin-right:0px;}
.msg-img{width:220px;height:140px;}
.msg-title{color:#2C3447;font-size:18px;}
.msg-title a{color:#2C3447;text-decoration:none;}
.msg-title a:hover{color:#00A50D;cursor:pointer;}
.mob-author{line-height:25px;}
.mob-author a{text-decoration:none;}
.mob-author-a{margin-left:30px;}
.author-face{position:absolute; width:25px;height:25px;}
.author-face img{width:100%;overflow:hidden;border-radius:25px;}
.author-name{color:#bbb;}
.summary{color:#999;font-size:14px;}
.index-line{border-bottom:1px solid #f0f0f0;padding-right:15px;margin-top:20px;}
.say-info a{color:#8899a6;font-size:13px;text-decoration:none;cursor:pointer;}
.say-info a:hover{color:#00A50D;}
.select-league{width:60px;height:20px;line-height:20px;background:#00A50D;color:white;text-align:center;cursor:pointer;}
.common-league{width:60px;height:20px;line-height:20px;text-align:center;cursor:pointer;}
.link-img{cursor:pointer;text-decoration:none;}
.team-title{color:#2C3447;font-size:12px;}
.team-title a{color:#2C3447;text-decoration:none;}
.team-title a:hover{color:#00A50D;cursor:pointer;}
.a-title{color:#2C3447;font-size:14px;}
.a-title a{color:#2C3447;text-decoration:none;}
.a-title a:hover{color:#00A50D;cursor:pointer;}
.grey-title{color:gray;font-size:14px;}
.grey-title a{color:gray;text-decoration:none;}
.grey-title a:hover{color:#00A50D;cursor:pointer;}
.content-size{font-size:12px;}
.text_cut{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.small-menu{float:left;line-height:60px;height:60px;overflow:hidden;padding-top:13px;}
.small-select{width:80px;color:white:background:#00A50D;}
.small-table>thead>tr>th, .small-table>tbody>tr>th, .small-table>tfoot>tr>th, .small-table>thead>tr>td, .small-table>tbody>tr>td, .small-table>tfoot>tr>td{
	padding:2px;padding-top:5px;padding-bottom:5px;
}
.content-title:hover img{
	-webkit-transform:scale(1.04);
	-moz-transform:scale(1.04);
	-ms-transform:scale(1.04);
	-o-transform:scale(1.04);
	transform:scale(1.04);
}
.content-title img{
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-ms-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
}
@media all and (max-width:1300px){.content_pleft{padding-left:30px;}}
@media all and (min-width:1300px){.content_pleft{padding-left:20px;}}

.red_result{color:red;}
.green_result{color:green;}
.lose_result{color:#36F;}
.dline{ padding-bottom:3px; border-bottom:2px solid #FFFFFF;color:#FFFFFF;} 
.wwqk_menu{font-size:13px;font-weight:bold;}
.wwqk_menu_wh{min-height:35px;line-height:35px;padding-left:0px;padding-right:0px;text-align:center}
.menu_link a{color:white;text-decoration:none;}
.navbar-fixed-top, .navbar-fixed-bottom{left:15px;}
/* Scroll Top Top */
.scroll-to-top {
  display: inline-block;
  padding: 2px;
  text-align: center;
  position: fixed;
  z-index: 10001;
  bottom: 10px;
  display: none;
  right: 10px; }
  .scroll-to-top > i {
    display: inline-block;
    color: #687991;
    font-size: 32px;
    opacity: 0.7 ;
    filter: alpha(opacity=70) ; }
  .scroll-to-top:hover {
    cursor: pointer; }
    .scroll-to-top:hover > i {
      opacity: 1 ;
      filter: alpha(opacity=100) ; }

@media (min-width: 992px) {
  /* 992px */
  .scroll-to-top {
    right: 10px; } }

@media (max-width: 991px) {
  /* 991px */
  .scroll-to-top {
    right: 10px; }
    .scroll-to-top > i {
      font-size: 28px; } }

/*CSS scott style pagination*/

DIV.scott {
	PADDING-RIGHT: 0px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 3px;margin-right:0px; PADDING-TOP: 3px; TEXT-ALIGN: center
}
DIV.scott A {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #ddd 1px solid; COLOR: #00A50D; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #ddd 1px solid; TEXT-DECORATION: none
}
DIV.scott A:hover {
	BORDER-RIGHT: #00A50D 1px solid; BORDER-TOP: #00A50D 1px solid; BORDER-LEFT: #00A50D 1px solid; COLOR: #00A50D; BORDER-BOTTOM: #00A50D 1px solid; BACKGROUND-COLOR: #f1ffd6
}
DIV.scott A:active {
	BORDER-RIGHT: #00A50D 1px solid; BORDER-TOP: #00A50D 1px solid; BORDER-LEFT: #00A50D 1px solid; COLOR: #00A50D; BORDER-BOTTOM: #00A50D 1px solid; BACKGROUND-COLOR: #f1ffd6
}
DIV.scott SPAN.current {
	BORDER-RIGHT: #00A50D 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #00A50D 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; BORDER-LEFT: #00A50D 1px solid; COLOR: #fff; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #00A50D 1px solid; BACKGROUND-COLOR: #00A50D
}
DIV.scott SPAN.disabled {
	BORDER-RIGHT: #f3f3f3 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #f3f3f3 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #f3f3f3 1px solid; COLOR: #ccc; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #f3f3f3 1px solid
}

/*CSS green-black style pagination*/

DIV.green-black {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 3px; PADDING-TOP: 3px; TEXT-ALIGN: center
}
DIV.green-black A {
	BORDER-RIGHT: #2c2c2c 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #2c2c2c 1px solid; PADDING-LEFT: 5px; BACKGROUND: url(image1.gif) #2c2c2c; PADDING-BOTTOM: 2px; BORDER-LEFT: #2c2c2c 1px solid; COLOR: #fff; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #2c2c2c 1px solid; TEXT-DECORATION: none
}
DIV.green-black A:hover {
	BORDER-RIGHT: #00A50D 1px solid; BORDER-TOP: #00A50D 1px solid; BACKGROUND: url(image2.gif) #00A50D; BORDER-LEFT: #00A50D 1px solid; COLOR: #fff; BORDER-BOTTOM: #00A50D 1px solid
}
DIV.green-black A:active {
	BORDER-RIGHT: #00A50D 1px solid; BORDER-TOP: #00A50D 1px solid; BACKGROUND: url(image2.gif) #00A50D; BORDER-LEFT: #00A50D 1px solid; COLOR: #fff; BORDER-BOTTOM: #00A50D 1px solid
}
DIV.green-black SPAN.current {
	BORDER-RIGHT: #00A50D 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #00A50D 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; BACKGROUND: url(image2.gif) #00A50D; PADDING-BOTTOM: 2px; BORDER-LEFT: #00A50D 1px solid; COLOR: #fff; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #00A50D 1px solid
}
DIV.green-black SPAN.disabled {
	BORDER-RIGHT: #f3f3f3 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #f3f3f3 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #f3f3f3 1px solid; COLOR: #ccc; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #f3f3f3 1px solid
}
.footer{
	position: absolute; bottom: 0; width: 100%; height: 120px; background: #404040; clear:both;color:white;
}
.round_1{background:#5DC2CF}
.round_2{background:#9932cc}
.round_3{background:#8b4513}
.round_4{background:#cd5c5c}
.round_5{background:#d2b48c}
.round_6{background:#3cb371}
.round_7{background:#1D2087}
.round_8{background:#1e90ff}
.round_9{background:#ee82ee}
.round_10{background:#00ffff}
.round_11{background:#dc143c}
.round_12{background:#008b8b}
.round_13{background:#daa520}
.round_14{background:#006400}
.round_15{background:#c71585}
.round_16{background:#9370db}
.round_17{background:#ba55d3}
.round_18{background:#b0c4de}
.round_19{background:#8b0000}
.round_20{background:#90ee90}
.round_21{background:#483d8b}
.round_22{background:#adff2f}
.round_23{background:#E5007F}
.round_24{background:#48d1cc}
.round_25{background:#F4B5D0}
.round_26{background:#32cd32}
.round_27{background:#F4B5D0}
.round_28{background:#20b2aa}
.round_29{background:#A6D4AD}
.round_30{background:#8b008b}
.round_31{background:#845F70}
.round_32{background:#008080}
.round_33{background:#A50082}
.round_34{background:#0000ff}
.round_35{background:#009A44}
.round_36{background:#00ff7f}
.round_37{background:#E10042}
.round_38{background:#0000cd;}
.league_1{color:red;}
.league_2{color:#00A50D;}
.league_3{color:#9400D3;}
.league_4{color:#0066ff;}
.league_5{color:#00B2EE;}
.line-cut{
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}